{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Django first project</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="leading-normal tracking-normal h-screen flex flex-col relative">
    <header class="fixed top-0 z-1 w-full left-0 right-0 backdrop-blur-xs">
      <nav class="mx-8 px-8 py-4 flex justify-end">
        {% with request.resolver_match.url_name as url_name %}
        <ul class="flex space-x-4">
          <li>
            <a href="{% url 'main:home' %}" class="{% if url_name == 'home' %}underline{% endif %} nav-link">Home</a>
          </li>
          <li>
            <a href="{% url 'main:about' %}" class="{% if url_name == 'about' %}underline{% endif %} nav-link">About</a>
          </li>
        </ul>
        {% endwith %}
      </nav>
    </header>

    <main class="flex-1 container">{% block 'main' %} {% endblock 'main' %}</main>

    {% if True %}
    <video autoplay loop muted class="absolute inset-0 h-full w-full object-cover">
      <source src="{% static '/videos/bg.mp4' %}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    {% endif %}

    <footer class="p-4 text-center fixed bottom-0 w-full z-1 bg-transparent min-h-16">
      {% block 'footer' %}
      <p>&copy; {% now "Y"  %} My Django Project</p>
      {% endblock 'footer' %}
      <p class="font-bold text-zinc-800">&copy; {% now "Y" %} My Django Project</p>
    </footer>
  </body>
</html>
