{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Django first project</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="leading-normal tracking-normal h-screen flex flex-col">
    <header class="sticky top-0 z-50">
      <nav class="p-6 flex justify-end">
        <ul class="flex space-x-4">
          <li><a href="{% url 'main:index' %}" class="hover:underline">Home</a></li>
          <li><a href="{% url 'main:about' %}" class="hover:underline">About</a></li>
          {% comment %}
          <li><a href="{% url 'main:contact' %}" class="hover:underline">Contact</a></li>
          {% endcomment %}
        </ul>
      </nav>
    </header>
    <main class="flex-1">{% block 'body' %} {% endblock 'body' %}</main>

    <footer class="p-4 text-center">
      {% block 'footer' %}
      <p>&copy; 2023 My Django Project</p>
      {% endblock 'footer' %}
      <p>&copy; 2023 My Django Project</p>
    </footer>
  </body>
</html>
